extends layout

block content
  h1 Welcome to the Online Shopping Platform
  p This web application was created to fulfill the Web Technology module’s requirements and does not represent an actual company or service.
  p Explore our products by clicking the button below.
  a.button(href='/products') View Products
