extends layout

block content
  header
    h1(id='main-header') Welcome to the Online Shopping Platform
    p This web application was created to fulfill the Web Technology module’s requirements.
    p Explore our products and start shopping today!
    .button-container
      a.button(href='/products') Products
      a.button(href='/products/new') Add Product
      a.button(href='/') Home
