doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/styles/style.css')
  body
    header
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/products') Products
          li
            a(href='/products/new') Add Product
    main
      block content
    footer
      p &copy; 2025 Online Shopping Platform
