extends layout

block content
  header
    h1 Add New Product
    .button-container
      a.button(href='/products') Back to Product List
      a.button(href='/') Home
  form(action='/products' method='POST')
    .form-group
      label(for='name') Product Name:
      input(type='text', name='name', id='name', required)
    .form-group
      label(for='price') Price:
      input(type='number', name='price', id='price', required, step='0.01')
    .form-group
      label(for='description') Description:
      textarea(name='description', id='description')
    .form-group
      button(type='submit') Create Product
