extends layout

block content
  h1 Add New Product
  form(action='/products' method='POST')
    div.form-group
      label(for='name') Product Name:
      input(type='text', name='name', id='name', required)
    div.form-group
      label(for='price') Price:
      input(type='number', name='price', id='price', required, step='0.01')
    div.form-group
      label(for='description') Description:
      textarea(name='description', id='description')
    div.form-group
      button(type='submit') Create Product
  a.button(href='/products') Back to Product List
